@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #f4f4f4;
}

h1 {
    color: #e85b81;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

label {
    margin-right: 275px;
    color: #505050;
    font-size: 12pt;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    width: 300px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #e85b81;
    border-color: #e85b81;
}

button {
    border: 2px solid #e85b81;
    border-color: #e85b81;
    background: #e85b81;
    color: aliceblue;

    font-size: 11pt;
    width: 320px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}